body{
    background-color: rgb(229, 229, 188);
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
h1{
    margin:0;
    padding:0;
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: bold;
}